<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body">
                    <h3 class="card-title" STYLE="color:orange">EDIT FOOD ITEMS...!</h3>

                    <form class="forms-sample" method="post" action="{% url 'updateitem' dataid=edit.id %}" enctype="multipart/form-data" >
                       {% csrf_token %}
                      <div class="form-group">
                        <label for=>Category</label><br>
                        <select name="cat">
                            <option>{{edit.Category}}</option>
                           {% for i in item %}
                            <option value="{{edit.Category}}">{{i.Category}}</option>
                            {% endfor %}
                        </select><br><br>
                      </div>
                        <div class="form-group">
                        <label for="exampleTextarea1">Food Item</label><br>
                        <input type="text" placeholder="Items" name="item" value="{{edit.Item}}">  <br><br>
                      </div>
                        <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="desc">{{edit.Description}}</textarea><br>
                      </div>
                       <div class="form-group">
                        <label for="exampleTextarea1">Price</label><br>
                       <input type="text" placeholder="Price" name="price" value="{{edit.Price}}"><br><br>
                      </div>
                        <label>Food Image</label><br>
                        <img src="{{edit.Image.url}}"width="100px" height="100px">
                        <input type="file" name="img"><br><br>
                     <div class="button_block"><button type="submit" class="btn cur-p btn-warning">Submit</button></div><br>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

{% if messages %}
   {% for i in messages %}
      {% if i.tags == 'warning' %}
         <script>
             swal('{{i}}','','warning');
         </script>
      {% elif i.tags == 'error' %}
         <script>
             swal('{{i}}','','error');
         </script>
      {% elif i.tags == 'success' %}
         <script>
             swal('{{i}}','','success');
         </script>
      {% else %}
         <script>
             swal('{{i}}','','info');
         </script>
      {% endif %}
   {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}